/MoneyExchange/nbproject/private/
/MoneyExchange/build/
/MoneyExchange/dist/
/SOAP/MoneyExhangeWebservice/target/
/SOAP/Server/ExchangeRateWebService/nbproject/private/
/SOAP/Server/ExchangeRateWebService/dist/
/SOAP/Server/ExchangeRateWebService/build/
/SOAP/Server/SoapServer/nbproject/private/
/SOAP/Server/SoapServer/build/
/SOAP/Server/SoapServer/dist/
/SOAP/Server/ExchangeSoapService/nbproject/private/
/SOAP/Server/ExchangeSoapService/dist/
/SOAP/Server/ExchangeSoapService/build/
/SOAP/Server/FortuneExchange/nbproject/private/
/SOAP/Server/FortuneExchange/build/
/SOAP/Server/FortuneExchange/dist/
/REST/TranferBuro/nbproject/private/
/REST/TranferBuro/dist/
/REST/TranferBuro/build/
/REST/TranferBuroApp/nbproject/private/
/REST/TranferBuroApp/build/
/REST/TranferBuroApp/dist/
/REST/charege-card-worker/target/