<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FortuneMoneySrvPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desktop-8330fp6:8080/FortuneExchange/FortuneMoneySrv"
                binding="basicHttpBinding" bindingConfiguration="FortuneMoneySrvPortBinding"
                contract="FortuneMoney_ServiceReference.FortuneMoneySrv" name="FortuneMoneySrvPort" />
        </client>
    </system.serviceModel>
</configuration>